<!DOCTYPE html>
<html>
<head>
  <title>Liste des machines</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
              <img src="/static/computerApp/images/rtdev.png" alt="Logo" class="img-fluid mx-auto d-block mb-4" style="max-width: 160px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="machinesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Machines
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="machinesDropdown">
                          <li><a class="dropdown-item" href="{% url 'machines' %}">machines</a></li>
                          <li><a class="dropdown-item" href="{% url 'add-machines' %}">Ajouter une machine</a></li>
                          <li><a class="dropdown-item" href="{% url 'delete-machines' %}">Supprimer une machine</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="personnelsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Personnels
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="personnelsDropdown">
                          <li><a class="dropdown-item" href="{% url 'personnels' %}">personnels</a></li>
                          <li><a class="dropdown-item" href="{% url 'add-personnels' %}">Ajouter un personnel</a></li>
                          <li><a class="dropdown-item" href="{% url 'delete-personnels' %}">Supprimer une personne</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        <h2>Liste des machines</h2>
        {% if machines %}
        <ul class="list-group">
            {% for machine in machines %}
            <li class="list-group-item">
                <a href="{% url 'machine-detail' machine.id %}">
                    {{ machine.id }} - ({{ machine.nom }})
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Il n'y a pas de machines.</p>
        {% endif %}

        <h2>Suppression des machines</h2>

        <form method="post" action="{% url 'delete-machines' %}">
            {% csrf_token %}
            <ul class="list-group">
                {% for machine in machines %}
                <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="machines" value="{{ machine.id }}">
                        <label class="form-check-label">
                            {{ machine.id }} - ({{ machine.nom }})
                        </label>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <button class="btn btn-danger" type="submit">Supprimer</button>
        </form>

        <h2>Ajouter une machine</h2>

        <form method="post" action="{% url 'add-machines' %}">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button class="btn btn-primary" type="submit">Ajouter une machine</button>
        </form>
        {% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
