{% extends "index.html" %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
          <div class="col-6">
            <h2>Liste des machines</h2>
            {% if machines %}
            <ul class="list-group">
                {% for machine in machines %}
                <li class="list-group-item">
                    
                    <a href="{% url 'machine-detail' machine.id %}">
                       {{ machine.id }} - ({{ machine.nom }})
                    </a>
                    {% if machine.etat == True %}
                    <p><span class="online"></span> En ligne </p>
                    {% else %}
                    <p><span class-"offline"></span> Hors ligne </p>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>Il n'y a pas de machines.</p>
            {% endif %}
          </div>

          <div class="col-6">
            <h2>Suppression des machines</h2>
            <form method="post" action="{% url 'delete-machines' %}">
                {% csrf_token %}
                <ul class="list-group custom-table">
                    {% for machine in machines %}
                    <li class="list-group-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="machines" value="{{ machine.id }}">
                            <label class="form-check-label">
                                {{ machine.id }} - ({{ machine.nom }})
                            </label>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <button class="btn btn-danger" type="submit">Supprimer</button>
            </form>
          </div>
        </div>

        <h2>Ajouter une machine</h2>

        <form method="post" action="{% url 'add-machines' %}">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button class="btn btn-primary" type="submit">Ajouter une machine</button>
        </form>
        {% endblock %}
    </div>

    
</body>
</html>
