<!DOCTYPE html>
<html>
<head>
  <title>Liste des machines</title>
  <link rel="stylesheet" href="css/style_personnes.css">
</head>
<body>

    {% block menu %}
    <ul id="menu">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'machines' %}">machines</a></li>
        <li><a href="{% url 'personnels' %}">personnels</a></li>
        <li><a href="{% url 'add-machines' %}">Ajouter une machine</a></li>
        <li><a href="{% url 'add-personnels' %}">ajouter un personnels</a></li>
        <li><a href="{% url 'delete-machines' %}">Supprimer une machine</a></li>
        <li><a href="{% url 'delete-personnels' %}">Supprimer une personne</a></li>
    </ul>
    {% endblock %}

    {% block content %}
    <h1>Liste des machines</h1>
    {% if machines %}
    <ul>
      {% for machine in machines %}
        <li>
          <a href="{% url 'machine-detail' machine.id %}">
            {{ machine.id }} - ({{ machine.nom }})
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Il n'y a pas de machines.</p>
  {% endif %}
  {% endblock %}

</body>
</html>
